footer{
    width: 100%;
    margin-top: auto;
    background-color: map-get($color, color2);
    .menuNavegacionFooter{
        ul{
            list-style: none;
            padding-top: 1rem;
            text-align: map-get($alineacion,cen);
            @include grid (33% 33% 33%,0,0,0);
            li{
                a{
                    #imgIg{
                        width: 2.5rem;
                        height: 2.5rem;
                        &:hover{
                            width: 2.8rem;
                            height: 2.8rem;
                        }
                        @include mobile{
                            height: 30px;
                            width: 30px;
                            &:hover{
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }
                    #imgFb{
                        @extend #imgIg;
                    }
                    #imgWsp{
                        @extend #imgIg;
                    }
                }
            }
        }

    }
}