footer{
    width: 100%;
    margin-top: auto;
    background-color: map-get($color, color2);
    .menuNavegacionFooter{
        ul{
            list-style: none;
            padding-top: 1rem;
            text-align: map-get($alineacion,cen);
            @include grid (33% 33% 33%,0,0,0);
            li{
                a{
                    @extend .navegacionFlexbox;
                    #imgIg{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    #imgFb{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    #imgWsp{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
            }
        }

    }
}