.cuerpoInicio{
    @include grid(50% 50%,0,0,center);
    @include tablet{
        display: block;
    }
    .hInicio{
        padding: 10%;
        h1{
            @include textRoboto(0,0,0,1rem,300,none,30px);
        }
        h2{
            @include textSans(0,0,0,1rem,1000,normal,35px);
        }
        h3{
            @include textSans(0,0,0,1rem,300,normal,30px);
        }
        @include tablet{
            @include grid(100%,0,0,0);
        }
    }
    .hImagen{
        text-align: center;
        @include tablet{
            @include grid(100%,0,0,0);
            place-items: center;
        }
        #imgSand{
            padding: 10%;
            height: 37rem;
            @include desktop{
                height: 30rem;
            }
        }
    }
}